* {
	margin:0;
	padding:0;
}

body, .content {
	font-family: Open Sans, sans-serif;
	font-weight: bolder;
	background-color: #b20838!important;
}


main {
	min-height: 420px;
	width: 100%;
	margin-top: 1%;
	padding: 2%;
	background: #FFF;
}

.content {
	height: 683px;
	width:927px;
	margin-left: auto;
	margin-right: auto;
	color: #6b0623;
	background-color:#6b0623;
}

.header{	
	height:85px;
	color:#fff;
	text-align:center;
}

header h1 {
	margin-top: 15px;
	margin-left: 40px;
	float: left;
	font-family: EB Garamond, serif;
	text-transform: uppercase;
	line-height: 31px;
	font-stretch: ultra-condensed!important;
}

p {
	font-weight: normal;
}

#logo {
	clear: both;
	float: left;
	width: 66.5%;
}

nav {
	height: 40px;
	width:46%;
	float:right;
	margin-top: 2%;
}

nav ul {
	list-style-type: none;
 	margin: 0;
  	padding: 0;
}

nav ul li {
	float: left;
}

nav ul li:hover{
	background-color:#6b0623;
}

nav ul li a {
	display: block;
	color: #f5f5f5;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	color: #ffda09;
}

button {
	width: 15%;
	margin: 12px 8px 0 0;
	padding: 0 7px;
	text-transform: uppercase;
	font-size: 13px;
	border-radius: 5px;
	background-image: linear-gradient(yellow, #eeb41e);
}

button a {
	display: block;
	padding: 5%;
	color: #6b0623;
}

button a:hover {
	display: block;
	color: #6b0623;
}


.submit {
	width: 15%;
	margin: 12px 8px 0 0;
	padding: 2%;
	text-transform: uppercase;
	font-size: 13px;
	border-radius: 5px;
	background-image: linear-gradient(yellow, #eeb41e);
	cursor: pointer;
}


.letter_grade {
	min-height:150px;
	margin-top:50px;
	font-size: 70px;
}

.score {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}


#reset {
	margin-top: 100px;
	padding-left: 1%;
}

#search {
	float: right;
	color: #FFF;
}

#search a {
	color: #FFF;
}

#student_error1, #student_error2, #student_error3, #student_error4, 
#student_error5, #student_error6, #student_error7, #student_error8,
#student_error9, #student_error10, #teacher_error1, #teacher_error2, 
#teacher_error3, #teacher_error4, #teacher_error5, #teacher_error6, 
#teacher_error7, #teacher_error8, #teacher_error9, #teacher_error10,
#class_error1, #class_error2, #class_error3 {
	color:red;
}

.required {
	color:red;
}


div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
    font-weight: normal;
}

input[type=text], input[type=email], select {
	background-color: lightyellow;
}

input[type=submit], input[type=reset] {
	margin-left: 2%;
	padding: 0.25%;
	border-radius: 5px;
	border: 1px solid #444444;
	font-size: 16px;
	cursor: pointer;
}

input[type=submit]:focus, input[type=reset]:focus {
	outline: 0;
}

input[type=submit]:hover, input[type=reset]:hover {
	background-color: lightgrey;
}



.new_student_form,
.new_teacher_form,
.new_class_form {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
}

.info {
	float: left;
}

.student_id,
.teacher_id {
	width: 25%;
	margin-left: 0.25%;
	margin-right: 0.25%;
}


.student_fName, .student_lName, 
.teacher_fName, .teacher_lName {
	width: 49.50%;
	margin-left: 0.25%;
	margin-right: 0.25%;
}

.student_street1, .student_street2, .student_phone, .student_email, 
.teacher_street1, .teacher_street2, .teacher_phone, .teacher_email, 
.class_term, .class_desc, .class_name{
	width: 100%;
}


.student_city, .student_state, .student_zipcode,
.teacher_city, .teacher_state, .teacher_zipcode {
	width: 32.75%;
	margin-left: 0.25%;
	margin-right: 0.25%;
}


.enroll_teacher_form,
.enroll_student_form {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.enroll_teacher_id,
.enroll_student_id {
	width: 15%;
	margin: 1%;
}

.enroll_class_id, .enroll_teacher_role,
.enroll_student_role {
	width: 35%;
	margin-left: 1%;
	margin-right: 1%;
}


#result {
	width: 45%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	color: #FFF;
}

footer p {
	margin-top: 1%;
	margin-left: 1%;
}

#copywrite {
	color: #FFF;
	text-decoration: underline;
}