
.required {
	color:red;
}

input[type=text], input[type=email], select {
	margin-left: 3%;
	background-color: lightyellow;
}

input[type=submit], input[type=reset] {
	border-radius: 5px;
	border: 1px solid #444444;
	font-size: 16px;
	cursor: pointer;
}

input[type=submit]:focus, input[type=reset]:focus {
	outline: 0;
}

input[type=submit]:hover, input[type=reset]:hover {
	background-color: lightgrey;
}

#teacher_error1, #teacher_error2, #teacher_error3, #teacher_error4, 
#teacher_error5, #teacher_error6, #teacher_error7, #teacher_error8,
#teacher_error9, #teacher_error10 {
	color:red;
} 
